# Django settings
DEBUG=True
SECRET_KEY=django-insecure-change-me-in-production #Check /rojgari_backend/settings.py
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database URL
# For SQLite local development: sqlite:///db.sqlite3
# For PostgreSQL container: postgres://rojgari_user:rojgari_password@db:5432/rojgari_db

DATABASE_URL=postgresql://neondb_owner:npg_Syq8pT5Cvhfb@ep-blue-water-ao0m5ys2-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Caching URL (using Valkey / Redis protocol)
# For local development: redis://127.0.0.1:6379/1
# For Valkey container: redis://valkey:6379/1
CACHE_URL=redis://127.0.0.1:6379/1

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=rojgari.app01@gmail.com
EMAIL_HOST_PASSWORD=tiqbwoogwlyeofbr
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=Rojgari <rojgari.app01@gmail.com>